@using MauiMarket.Shared.Models
@inject HttpClient Http
@inject NavigationManager Navigation
@page "/add-product"

<h1>Dodaj nowy produkt</h1>

<div class="product-add-form">
    <label>
        Nazwa:
        <input type="text" @bind="product.Name" />
    </label>
    <label>
        Opis:
        <textarea @bind="product.Description"></textarea>
    </label>
    <label>
        Cena:
        <input type="number" step="0.01" @bind="product.Price" />
    </label>
    <label>
        Kategoria:
        <select @bind="selectedCategoryId">
            <option value="">-- Wybierz kategorię --</option>
            @foreach (var category in categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </label>
    <button @onclick="Add">Dodaj</button>
    <button @onclick="Cancel">Anuluj</button>
</div>

@code {
    private Product product = new Product();

    private List<Category> categories = new List<Category>();
    private int? selectedCategoryId;

    protected override async Task OnInitializedAsync()
    {
        categories = await Http.GetFromJsonAsync<List<Category>>("http://localhost:5217/api/category");
    }
    private async Task Add()
    {
        product.CategoryId = selectedCategoryId.Value;

        var response = await Http.PostAsJsonAsync("http://localhost:5217/api/products", product);

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Product added successfully!");
            Navigation.NavigateTo("/");
        }
        else
        {
            Console.WriteLine("Failed to add product.");
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/");
    }
}