@using BlazorWebApp.Authentication
@using MauiMarket.Shared.Models
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider AuthStateProvider
@page "/login"

<h3>Logowanie</h3>

<input type="text" @bind="username" placeholder="Nazwa użytkownika" />
<input type="password" @bind="password" placeholder="Hasło" />
<button @onclick="PerformLogin">Zaloguj</button>

@code {
    private string username = "";
    private string password = "";

    private async Task PerformLogin()
    {
        var response = await Http.PostAsJsonAsync("http://localhost:5217/api/auth/login",
            new { Username = username, Password = password });

        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadFromJsonAsync<TokenResponse>();
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", "authToken", result.Token);
            if (AuthStateProvider is CustomAuthStateProvider customAuthProvider)
            {
                customAuthProvider.NotifyUserAuthentication(result.Token);
            }
            Navigation.NavigateTo("/");
        }
        else
        {
            Console.WriteLine("Nieudane logowanie");
        }
    }
}